.Slideshow {
  display: flex;
  justify-content: center;
  height: calc(100vh - 2rem);
  padding: 1rem;
  position: relative;
}

.Slideshow:focus {
  outline:0;
}

.Slideshow__views {
  position: absolute;
  padding: 1rem 2rem;
  text-align: center;
  color: white;
  top: calc(50vh - 2rem);
  border-radius: 15px;
  background-color: rgba(30, 30, 30, 0.5);
}

.Slideshow__left,
.Slideshow__right {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 0.4rem;
}

.Slideshow svg {
  width: 2.25rem;
}

.Slideshow__image {
  flex: 1;
  display: flex;
  padding: 0.75rem;
  margin: 0 0.75rem;
  background-color: #EAEAEA;
  border-radius: 15px;
}

.Slideshow__image img,
.Slideshow__image .empty-image {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
